###
### Untrusted apps.
###
### This file defines the rules for untrusted apps running with
### targetSdkVersion >= 34.
###
### See public/untrusted_app.te for more information about which apps are
### placed in this selinux domain.
###

typeattribute untrusted_app coredomain;

app_domain(untrusted_app)
untrusted_app_domain(untrusted_app)
net_domain(untrusted_app)
bluetooth_domain(untrusted_app)

dontaudit untrusted_app system_linker_exec:file execmod;
dontaudit untrusted_app proc_loadavg:file read;

# Allow webview to access fd shared by sdksandbox for experiments data
# TODO(b/229249719): Will not be supported in Android U
allow untrusted_app sdk_sandbox_data_file:fd use;
allow untrusted_app sdk_sandbox_data_file:file write;

neverallow untrusted_app sdk_sandbox_data_file:file { open create };

# Custom Sepolicy rules
# binder calls
binder_call(untrusted_app, gpuservice)
binder_call(untrusted_app, servicemanager)
binder_call(untrusted_app, statsd)
binder_call(untrusted_app, stats_service_server)

# Access system files/nodes
allow untrusted_app untrusted_app_userfaultfd:anon_inode { ioctl read create };
allow untrusted_app appdomain_tmpfs:file { read write getattr map execute };
allow untrusted_app flipendo:dir search;
allow untrusted_app flipendo:process { fork getsched };
allow untrusted_app flipendo:unix_dgram_socket create;

# Find services
allow untrusted_app app_api_service:service_manager find;
allow untrusted_app color_display_service:service_manager find;

dontaudit untrusted_app vendor_hwservice_type:hwservice_manager find;
